body {
    margin: 0;
    font-family: Arial;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: rgb(0, 0, 0);
    color: white;
}

nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

/* Hero */
.hero {
    text-align: center;
    padding: 270px 20px;
    background: lightblue;

}

.hero button {
    padding: 10px 20px;
    margin-top: 100px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
}

.logo{
    padding-bottom: 30px;
    color: rgb(0, 0, 255);
    text-shadow: 5px 10px 30px ;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

/* Footer */
footer {
    text-align: center;
    padding: 1px;
    background: black;
    color: white;
}

/* Responsive */
@media (max-width: 600px) {
    header {
        flex-direction: column;
        text-align: center;
    }
}